body{
    background: black;
    color:white;
}
.content{
    width:960px;
    margin:auto;
}
.center-align{
    text-align: center;
}

#projects ul{
    font-family: sans-serif;
    margin:0;
    padding:20px 0 0;
}

#projects ul>li{
    display: block;
    background:white;
    padding:10px;
    margin:1px;
}

#projects ul>li>a{
    display: block;
    color: black;
    text-decoration: none;
}

#projects ul>li>a:hover, #projects ul>li:hover{
    color: black;
    background: gold;
}

#projects ul>li>a span{
    float :right;
}

.clear{
    clear: both;
}

.hDec:before, .hDec:after {
    position: absolute;
    overflow:none ;
    margin-top: 20px;
    width: 25%;
    height: 1px;
    content: '\a0';
    background-color: white;
}
.hDec:before {
    margin-left: -25%;
    text-align: right;
}
